# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @AlexsJones @aloisreitbauer @andrewdmaclean @dabeeeenster @DavidPHirsch @jonathannorris @justinabrahms @lukas-reining @beeme1mr @moredip @kinyoklion @thomaspoignant @toddbaert @weyert @aepfli @askpt 
